{% extends "base.html" %}

{% block title %}Prêts Admin{% endblock %}

{% block content %}
<div class="container">
    <!-- Lien de retour avec icône -->
    <div class="mb-4">
        <a href="{{ url_for('admin_dashboard') }}" class="text-secondary">
            <i class="fas fa-arrow-left"></i> Retour au tableau de bord admin
        </a>
    </div>

    <h1 class="mt-4">Prêts</h1>
    
    <ul class="list-group">
        {% for loan in loans %}
        <li class="list-group-item">
            Utilisateur : {{ loan[1] }} | Montant : {{ loan[2] }} € | Taux : {{ loan[3] }}% | Statut : {{ loan[4] }}
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}