{% extends "base.html" %}

{% block title %}Transactions Admin{% endblock %}

{% block content %}
<div class="container">
    <!-- Lien de retour avec icône -->
    <div class="mb-4">
        <a href="{{ url_for('admin_dashboard') }}" class="text-secondary">
            <i class="fas fa-arrow-left"></i> Retour au tableau de bord admin
        </a>
    </div>

    <h1 class="mt-4">Transactions</h1>
    
    <ul class="list-group">
        {% for transaction in transactions %}
        <li class="list-group-item">
            De : {{ transaction[1] }} | À : {{ transaction[2] }} | Montant : {{ transaction[3] }} € | Date : {{ transaction[4] }}
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}