{% extends "base.html" %}

{% block title %}Transactions Admin{% endblock %}

{% block content %}
<div class="container">
    <!-- Lien de retour avec icône -->
    <div class="mb-4">
        <a href="{{ url_for('admin_dashboard') }}" class="text-secondary">
            <i class="fas fa-arrow-left"></i> Retour au tableau de bord admin
        </a>
    </div>

    <h1 class="mt-4">Transactions</h1>
    
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Expéditeur</th>
                    <th>Destinataire</th>
                    <th>Montant</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction[1] }}</td>
                    <td>{{ transaction[2] }}</td>
                    <td>{{ transaction[3] }} €</td>
                    <td>{{ transaction[4] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}